@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300&family=Syne:wght@400;600;700;800&display=swap');

@import "tailwindcss";

/* Custom theme */
@theme {
  --font-display: "Syne", sans-serif;
  --font-mono: "DM Mono", monospace;

  --color-accent: #c8f060;
  --color-surface: #111111;
}

/* Dark (default) */
:root {
  --bg:         #0a0a0a;
  --surface:    #111111;
  --border-col: #1f1f1f;
  --text:       #e8e6e0;
  --muted:      #555555;
  --accent:     #AE445A;
}

/* Light */
.light {
  --bg:         #f5f2eb;
  --surface:    #edeae2;
  --border-col: #d4d0c8;
  --text:       #1a1a1a;
  --muted:      #888888;
  --accent:     #408A71;
}

* { box-sizing: border-box; margin: 0; padding: 0; }
html { scroll-behavior: smooth; }

body {
  background: var(--bg);
  color: var(--text);
  font-family: 'DM Mono', monospace;
  font-size: 14px;
  line-height: 1.7;
  cursor: none;
  overflow-x: hidden;
  transition: background 0.4s ease, color 0.4s ease;
}

body::before {
  content: '';
  position: fixed; inset: 0;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)' opacity='0.04'/%3E%3C/svg%3E");
  pointer-events: none;
  z-index: 999;
  opacity: 0.35;
}
h1{
  font-family: 'Syne', sans-serif;
  font-size: 3rem;
  margin-bottom: 1rem;
}
section { padding: 7rem 3rem; }

@media (max-width: 768px) {
  section {
    padding: 4rem 1.5rem;
  }
}
@media (max-width: 768px) {
  .nav-links {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .hero-bottom {
    flex-direction: column !important;
    align-items: flex-start !important;
    gap: 1.5rem !important;
  }

  .nav-links {
    display: none !important;
  }

  .about-grid {
    grid-template-columns: 1fr !important;
    gap: 3rem !important;
  }

  section {
    padding: 4rem 1.5rem !important;
  }
}